@import 'main.scss';
body {
    background-color: whitesmoke;
    color: black;
}

.icon {
    font-size: 3rem;
    float: left;
    padding-left: 0, 5em;
}

.DropMeny {
    display: flex;
    position: right;
    font-size: 40px;
    width: 100px;
}

.DropLinks-content {
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.DropMeny:hover {
    background-color: pink;
}

header {
    text-align: center;
}

.logo {}