@import 'main.scss';
body {
    background-color: whitesmoke;
    color: black;
}

.icon {
    font-size: 3rem;
    float: left;
    padding-left: 0, 5em;
}

.DropMeny {
    display: flex;
    position: right;
    font-size: 0px;
    width: 100px;
}

.DropLinks-content {
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.DropMeny:hover {
    background-color: pink;
}

.navbar {
    text-align: center;
}

.logo {
    width: 100%;
    height: 300px;
}

.first_img {
    width: 100%;
    height: 300px;
}

.second_img {
    width: 100%;
    height: 300px;
}

.third_img {
    width: 100%;
    height: 300px;
}

.btn {
    background-color: blue;
    color: white;
    border: rounded;
    padding: 1px;
}

.contact_us {
    background-color: lightgray;
}

.scroll_img {
    width: 100%;
    height: 50%;
}

/* .horizontal-scroll-wrapper {
    width: 100px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.horizontal-scroll-wrapper>div {
    width: 100px;
    height: 100px;
}

.horizontal-scroll-wrapper {
    ... transform: rotate(-90deg);
    transform-origin: right top;
}

.horizontal-scroll-wrapper>div {
    transform: rotate(90deg);
    transform-origin: right top;
}

.horizontal-scroll-wrapper {
    ... transform: rotate(-90deg) translateY(-100px);
    ...
} */

/*make this hover work*/

#menu1:hover {
    color: gray;
}