@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
} */

body {
    background-color: #011827;
}

* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #011827;
    width: 500rem;
    height: 35rem;
    border: 0;
    margin: 0;
    border: 0;
    /* position: relative;
    skrivs in som ref när navbar ska positioneras */
}

.logo {
    padding-top: 30px;
    padding-left: 10px;
    height: 30rem;
    width: 30rem;
    float: left;
}

.hero {
    background-color: #011827;
}

h1 {
    font-style: bold;
    font-size: 6rem;
    margin-top: 200px;
    color: white;
    padding-left: 350px;
}

.img_0 {
    width: 150rem;
    height: 100rem;
    border-top: none;
    margin-top: none;
}

#online_btn {
    color: white;
    background-color: #E3170A;
}

#onsite_btn {
    color: #011827;
    background: #8ACFE5;
}

/*utkommenterad navbar- ska in i mobilversionen*/

.navbar {
    display: none;
}

.navbar ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    font-size: 100%
}

.navbar2 {
    background-color: #011827;
    width: 200rem;
    font-size: 3rem;
    height: 10rem;
}

ul.menu-bar {
    color: white;
    margin-bottom: 0;
    border: 0;
    margin-left: 450px;
    margin-right: 700px;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

ul li#other-color {
    color: #8ACFE5;
}

/*  */

/* #area_3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
} */

/* THIS AREA DONE*/

#area_4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-style: dotted;
    align-items: stretch;
    padding: 80px;
}

.img_1 {
    grid-column: 0/3;
    grid-row: 0/3;
}

.text_1 {
    grid-column: 3/6;
    grid-row: 0/3;
}

.text_2 {
    grid-column: 0/3;
    grid-row: 3/6;
}

.img_2 {
    grid-column: 2/7;
    grid-row: 2/7;
}

/*-- avsluta ovan med clear: bottom ex. THIS AREA DONE*/

.footer {
    font-size: 25px;
    color: white;
    background-color: #011827;
    clear: both;
    padding-top: 50px;
    height: 500px;
}

.firstbox {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 50px;
}

.secondbox {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 50px;
}

.thirdbox {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 50px;
}